# Dependencies
node_modules/

# Hardhat
artifacts/
cache/
typechain-types/

# Hardhat Ignition
ignition/deployments/

# Environment
.env
.env.*
!.env.example

# Lock.sol (template hardhat, non serve)
contracts/Lock.sol

# Test hardhat default (non serve)
test/

# OS
.DS_Store
ignition/
